/*
http://wrapbootstrap.com/preview/WB0JR603C
*/

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Montserrat|Raleway');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
	font-family: 'Montserrat', sans-serif;
}

code {
	font-family: 'Source Code Pro', monospace;
	font-size: 14px;
}

.console {
	font-family: 'Inconsolata', monospace;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: black;
	opacity: .8;
	padding: 20px;
	color: white;
	z-index: 99999;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: .1em;
	line-height: 1;
}

h1 {
	margin: 15px;
  	color: #416983;
}

p {
	text-align: left;
}

h3, h4, h5 {
	font-weight: bold;
	color: #416983;
	text-transform: none;
	margin-top: 10px;
	margin-bottom: 15px;
}
