# Personal
.conda_env
.env
.ipynb_checkpoints
*.ipynb
.conda_env
*.ipynb
*.txt
*.code-workspace

# Python files
__pycache__

# Config files
config/

# RStudio files
.Rhistory
.Rproj.user/
*.Rproj
rsconnect/
